.card {
  width: 100%;
  height: 361px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-gap: 20px 17px;
  margin: 0;
  padding: 0;
  list-style: none;
}


.card__image {
  width: 100%;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px 0 21px;
}

.card__title {
  color: #000;
  font-size: 24px;
  line-height: 100%;
  font-weight: 900;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  margin: 0;
}

.card__like-button {
  background-image: url(../images/group.png);
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  width: 21px;
  height: 19px;
}

.card__like-active {
  background-image: url(../images/group_active.png);
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  width: 21px;
  height: 19px;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../images/trash.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card__delete-button:hover {
  opacity: 0.5;
}

.elements__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1024px) {
  .elements__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 544px) {
  .elements__list {
    grid-template-columns: 1fr;
  }
}