.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
}

.header__vector {
  width: 173px;
  margin-bottom: 41px;
}

.header__line {
  width: 880px;
}

@media (max-width: 1024px) {
  .header__vector {
    padding-left: 1024px;
  }
}

@media (max-width: 544px) {
  .header {
    padding-top: 24px;
  }

  .header__vector {
    width: 126px;
    height: 24px;
  }
}
