.page {
  font-family: "inter", sans-serif;
  color: #fff;
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  overflow-x: hidden;
  min-width: 320px;
}
