.popup {
  font-family: "inter";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.popup__container {
  background-color: #fff;
  border-radius: 10px;
  width: 430px;
  box-sizing: border-box;
  padding: 34px 36px;
  color: #000;
  position: relative;
}

.popup__close {
  width: 40px;
  height: 40px;
  top: -40px;
  right: -40px;
  position: absolute;
  background-color: transparent;
  background-image: url(../images/close_Icon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.popup__title {
  font-family: "Inter";
  font-size: 24px;
  line-height: 100%;
  font-weight: 900;
  height: 23px;
  width: 330px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 27px;
}

.popup__input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
  font-size: 16px;
}

.popup__button {
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  padding: 14px;
  line-height: 100%;
  border-radius: 2px;
}

.popup__button:hover {
  opacity: 0.8;
}

.popup__container_type_image {
  background-color: transparent;
  max-width: 75vw;
  max-height: 75vh;
  padding: 0;
}

.popup__image {
  max-width: 100%;
  max-height: 75vh;
  object-fit: contain;
}

.popup__caption {
  color: white;
  font-size: 12px;
  line-height: 15px;
  margin: 10px 0 0 0;
}

.popup__error {
  font-size: 12px;
  color: red;
  height: 14px;
  margin-top: 2px;
}

.popup__input_type_error {
  border-bottom: 2px solid red !important;
}

.popup__error_visible {
  opacity: 1;
}

.popup__button_disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}

.popup__button_disabled:hover {
  opacity: 1;
}

@media (max-width: 544px) {
  .popup__container {
    width: 282px;
    height: 322px;
    justify-content: center;
  }

  .popup__close {
    width: 26px;
    height: 322px;
    right: 0;
  }

  .popup__title {
    font-size: 20px;
    width: 100%;
  }
}
